<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.CSharp" version="4.0.0.143" targetFramework="net461" />
  <package id="ServiceStack" version="4.5.14" targetFramework="net461" />
  <package id="ServiceStack.Client" version="4.5.14" targetFramework="net461" />
  <package id="ServiceStack.Common" version="4.5.14" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="4.5.14" targetFramework="net461" />
  <package id="ServiceStack.Text" version="4.5.14" targetFramework="net461" />
</packages>