<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreditScoreServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://138.68.85.24:8080/CreditScoreService/CreditScoreService"
                binding="basicHttpBinding" bindingConfiguration="CreditScoreServicePortBinding"
                contract="CreditScoreService.CreditScoreService" name="CreditScoreServicePort" />
        </client>
    </system.serviceModel>
</configuration>